<h1>UserAccount | Password Reset</h1>

<p>
  Hello <%= @user.name %>, this email was sent because you requested a password reset.
  Please follow the <%= link_to "this link", edit_password_reset_url(params[:token]), form: {target: '_blank'} %> to reset your password.
</p>
